### 1. scrape all games

In [1]:
import simplejson as json
import requests
import pandas as pd
pd.options.mode.chained_assignment = None
import pickle

from urllib.parse import quote
from urllib.request import urlopen
from requests_oauthlib import OAuth2
from igdb.wrapper import IGDBWrapper
wrapper = IGDBWrapper("2ydfn261bxjczjqk533f1f8s9akdpa", "zt7ey9uyzioyn5vmpn43flpc0h27pl")

In [2]:
api_url = 'https://id.twitch.tv/oauth2/token?client_id=2ydfn261bxjczjqk533f1f8s9akdpa&client_secret=p7c4hx3o043ci9pfv9sz4haba8rprj&grant_type=client_credentials'

response = requests.post(api_url)

In [3]:
response_json = response.json()

In [4]:
response_json

{'access_token': '8g7md41b6cg5s1xkqpyo3hr3w01ypn',
 'expires_in': 5311820,
 'token_type': 'bearer'}

In [5]:
#IGDB API
headers = {'Client-ID':'2ydfn261bxjczjqk533f1f8s9akdpa', 'Authorization': 'Bearer zt7ey9uyzioyn5vmpn43flpc0h27pl'}

data = 'fields name, summary, platforms; where platforms=(48, 49, 130, 6); offset 41000; limit 500;'

r = requests.post('https://api.igdb.com/v4/games', headers=headers, data=data)

games = r.json()

games

[]

In [6]:
headers = {'Client-ID':'2ydfn261bxjczjqk533f1f8s9akdpa', 'Authorization': 'Bearer zt7ey9uyzioyn5vmpn43flpc0h27pl'}

all_games = []
for i in range(0, 41000, 500):
    data = f'fields name, summary, platforms; where platforms=(48, 49, 130, 6); offset {i}; limit 500;'
    r = requests.post('https://api.igdb.com/v4/games', headers=headers, data=data)
    games = r.json()
    all_games.extend(games)

In [7]:
len(all_games)

40854

In [8]:
# convert into dataframe
df_games = pd.DataFrame(all_games)

In [9]:
df_games.dropna(subset=['summary'], inplace=True)

In [10]:
df_games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39604 entries, 0 to 40853
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         39604 non-null  int64
 1   name       39604 non-null  object
 2   platforms  39604 non-null  object
 3   summary    39604 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.5+ MB

In [11]:
# turn list into string
df_games['platforms'] = df_games['platforms'].apply(lambda x: ', '.join(map(str, x)))

In [12]:
df_games.head()

,id,name,platforms,summary
0,34116,Lemurzin,6,Lemurzin is a unique crazy runner game. Play f...
1,74857,Transcend,6,A puzzle platformer in which you transcend lif...
2,52269,All Haze Eve,6,A 3D adventure game where you're following a m...
3,138149,Junior Arithmancer,"3, 6, 14, 82",A one-to-many-room puzzler.
5,68841,Captivus,6,"Join the movement! Build a deck, equip your sh..."

In [13]:
# Save df_games
df_games.to_pickle('games_dataframe')

In [14]:
df_games = pd.read_pickle('games_dataframe')